html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/marbre-vert.jpg);
    background-position: center;
    background-size: cover;
}

.background {
    background: whitesmoke;
    width: 100%;
    height: auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;;
}

h1, h2, h3, h5 {
    text-transform: uppercase;
}

h2 {
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 30px;
}

h3 {
    font-weight: 600;
    font-size: 28px;
    margin: 50px 0 30px 0;
}

h5 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

p {
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 60px;
}

/* NAVBAR */
nav a .fa-cocktail {
    color: #CCF5AC;
}

nav .fa-city {
    color: rgb(104, 112, 112);
}

nav .fa-lemon {
    color: rgb(145, 206, 33);
}

nav .fa-beer {
    color: rgb(248, 197, 58);
}

nav input[type="search"] {
    height: 35px;
    width: 180px;
    position: relative;
    left: 50px;
}

nav button {
    height: 35px;
    width: 35px;
    position: absolute;
    left: 15px;
}


/* HEADER */

header {
    width: 100%;
    background: #52796F;
    color: #2A2315;
}

header .fa-cocktail {
    color: #CCF5AC;
}

/* ARTICLE */

#articles .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ryan {
    max-height: 325px;
}

.line {
    width: 75%;
    margin: 170px auto;
    height: 2px;
    border-radius: 1px;
    background: #2A2315;
}

/* RECETTES */

.card {
    width: 80%;
    max-height: 600px;
    margin-bottom: 40px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.466);
}

.card img {
    border-right: 1px solid #2A2315;
}

.card h5 {
    margin-bottom: 50px;
}

.card ul li {
    list-style: none;
    margin-bottom: 25px;
}

.card ul li span {
    font-weight: bold;
}

/* FOOTER */

footer {
    background: #52796F;
}

footer .brand {
    font-size: 25px;
}

footer ul li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #2A2315;
}

footer a:hover {
    text-decoration: none;
    border-bottom: 1px solid #2A2315;
    color: #2A2315;
}

footer a .fa-cocktail {
    color: #CCF5AC;
    margin-left: 5px;
}

footer small {
    font-size: 11px;
    line-height: 2px;
}

/* RECETTES */

.card .var {
    margin-top: -38px;
}

.mini-card {
    font-size: 14px;
}

/* BARMEN */

.card-group .card img {
    height: 50%;
    object-fit: fill;
}

/* PRODUCT */

.produits .card {
    width: 400px;
    height: 500px;
}

.produits .card img {
    height: 50%;
    width: 100%;
}

/* ADMIN */
.marbre {
    background-image: url(../img/marbre.jpg);
    background-position: center;
    background-size: cover;
}

.dash ul i {
    font-size: 30px; 
    transform: rotate(0deg);
	transition: transform 0.5s ease-in-out;
}

.dash ul i:hover {
    transform: rotate(180deg);
}

#actions .card {
    background: rgb(200, 225, 226);
}

#actions h5 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

#actions .fa-plus-circle {
    font-size: 30px;
    color: rgb(78, 78, 78);
    border: 3px solid rgba(78, 78, 78, 0);
    border-radius: 50%;
    padding: 0;
    animation: pulse 0.5s ease infinite alternate;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(78, 78, 78, 0);
    }
    25% {
        box-shadow: 0px 0px 0px 1px rgba(78, 78, 78, 0.2);
    }
    50% {
        box-shadow: 0px 0px 0px 2px rgba(78, 78, 78, 0.5);
    }
    75% {
        box-shadow: 0px 0px 0px 3px rgba(78, 78, 78, 0.7);
    }
    100% {
        box-shadow: 0px 0px 0px 4px rgba(78, 78, 78, 1);
    }
}


/* HIDDEN */

.hidden {
    background-image: url(../img/marbre-vert.jpg);
    background-position: center;
    background-size: cover;
}

.hidden .background {
    background: #272727;
    width: 100%;
    height: auto;
    padding: 0;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;;
}

.hidden .line {
    background: whitesmoke;
}

.articleh img {
    width: 100%;
    height: 250px;
}